
html {
    display: table;
    margin: auto;
}

body {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: grey;
    text-align: center;
    width: 440px;
}

button {
    background-color: white;
}

button:hover {
    background-color: darkred;
    color: white;
}

h1, h3 {
    background-color: red;
    margin-bottom: 0px;
}

.middle {
    background-color: white
}

.nameCard {
    display: table-cell;
    vertical-align: middle;
}

.boldCap {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 60px;
    text-transform: uppercase;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.subHead {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 50;
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    padding-top: 0px;
}

footer {
    background-color: red;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

section {
    font-family: 'Cedarville Cursive', cursive;
    font-size: 35px;
    font-weight: bold;
    background-color: white;
}

.white {
    background-color: white;
    width: 400px;

}

.subTitle {
    background-color: white;
    font-family: 'Cedarville Cursive', cursive;
    font-size: 20px;
    padding-bottom: 10px;
    background-color: white;
}